In [ ]:
print("hello world")

In [ ]:
if 5 > 2:
  print("lima lebih besar dari dua")

In [ ]:
x= 5
y= "john"

print(x)
print(y)

In [ ]:
myvar = "john"
my_var = "john"
_my_var = "john"
myVar = "john"
MYVAR = "john"
myvar2 = "john"

print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

In [ ]:
x, y, z = "orange", "banana", "cherry"
print(x)
print(y)
print(z)

In [ ]:
x = y = z = "orange"
print(x)
print(y)
print(z)

In [ ]:
fruits = ["apple", "banana", "cherry"]
x = y = z =fruits
print(x)
print(y)
print(z)

In [ ]:
x = int(3)
y = str(100)
z = float(1,0)

In [ ]:
x = "aku"
y = "belajar"
z = "strukdat"
print(x,y,z)

In [ ]:
x = "python"
y = "is"
z = "awesome"
print(x,y,z)

In [ ]:
x = 5
y = 10
print(x+y)

In [ ]:
x = "awesome"

def myfunc():
  print("python is" + x)
  
  myfunc()

In [ ]:
print("hello")
print("world")

hello
world

In [ ]:
a = "hello"
print(a)

hello

In [ ]:
a = "Hello, World!"
print(a[1])

e

In [ ]:
a = "Hello, World!"
print(len(a))

13

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [ ]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
list1 = ["abc", 34, True, 40, "male"]

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [ ]:
i=5
while i<10:
  print(i)
  i=+1

In [ ]:
for i  in range (10,20,2):
  print(i)

10
12
14
16
18