<a href="https://colab.research.google.com/github/Detasariaslina09/SDA-semester-2/blob/main/praktikum_sda_31_maret_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nama_asdos = ['annisa', 'latifah', 'vidya', 'billa']
print(nama_asdos)
#panjang list
print(len(nama_asdos))

['annisa', 'latifah', 'vidya', 'billa']
4

In [ ]:
#akses isi list melalui index
print(nama_asdos[0])
print(nama_asdos[1])
print(nama_asdos[-1])
print(nama_asdos[-2])

annisa
latifah
billa
vidya

In [ ]:
#mengganti isi list
print('sebelum diganti : ',nama_asdos)
nama_asdos[1] = 'putri'
nama_asdos[2] = 'sinta'
print('setelah diganti : ', nama_asdos)

sebelum diganti :  ['annisa', 'latifah', 'vidya', 'billa']
setelah diganti :  ['annisa', 'putri', 'sinta', 'billa']

In [ ]:
#menjumlahkan isi list
nama_asdos_lagi = ['nia','ikhsan','ayuni', 'naufal']
a = nama_asdos + nama_asdos_lagi
print(a)

['annisa', 'putri', 'sinta', 'billa', 'nia', 'ikhsan', 'ayuni', 'naufal']

In [ ]:
#memeriksa apakaj suatu nilai ada dalam list
'vidya' in nama_asdos

False

In [ ]:
#iterasi list
for i in nama_asdos :
  print(i)

annisa
putri
sinta
billa

In [ ]:
#mengambil bagian
print(nama_asdos)

In [ ]:
nama_asdos.append(3)
print(nama_asdos)

['annisa', 'putri', 'sinta', 'billa', 3]

In [ ]:
nama_asdos.insert(3, 'aisyah')
nama_asdos

['annisa', 'putri', 'sinta', 'aisyah', 'billa', 3]

In [ ]:
x = nama_asdos.count('nabillah')
print(x)

0

In [ ]:
x = nama_asdos.count('aisyah')
print(x)

1

In [ ]:
x = nama_asdos.pop(3)
print(x)

aisyah

In [ ]:
nama_asdos.remove('annisa')
print(nama_asdos)

[3, 'billa', 'sinta', 'putri']

In [ ]:
nama_asdos.reverse()
print(nama_asdos)

[3, 'billa', 'sinta', 'putri', 'annisa']

In [ ]:
string = 'nabillah'
print(max(string))

n

In [ ]:
string = 'nabillah'
print(min(string))

a

In [ ]:
print(nama_asdos)

[3, 'billa', 'sinta', 'putri', 'annisa']

In [ ]:
mahasiswa = ('kurnia','siti','ikhsan','naufal')
print(mahasiswa)

('kurnia', 'siti', 'ikhsan', 'naufal')

In [ ]:
mahasiswa = ('kurnia','siti','ikhsan','naufal')
mahasiswa[1] = 'ayuni'

TypeError: ignored

In [ ]:
mahasiswa = ('kurnia','siti','ikhsan','naufal')
print(mahasiswa)
#panjang tuple
print(len(mahasiswa))

('kurnia', 'siti', 'ikhsan', 'naufal')
4

In [ ]:
mahasiswa = ("Kurnia", "Siti", "Ikhsan", "Naufal")
print(mahasiswa)
# Panjang Tuple
print(len(mahasiswa))
# Menjumlahkan Tuple (Concatenation)
mahasiswa_lagi = ("Vidya", "Annisa", "Billa", "Lathifah")
A = mahasiswa + mahasiswa_lagi
print(A)

('Kurnia', 'Siti', 'Ikhsan', 'Naufal')
4
('Kurnia', 'Siti', 'Ikhsan', 'Naufal', 'Vidya', 'Annisa', 'Billa', 'Lathifah')

In [ ]:
# Mengganti isi Tuple 
y = list(mahasiswa)
y[1] = "Nabillah"
mahasiswa = tuple(y)
print(mahasiswa)

('Kurnia', 'Nabillah', 'Ikhsan', 'Naufal')

In [ ]:
# Menambah isi Tuple
y = list(mahasiswa)
y.append("Vidya")
mahasiswa = tuple(y)
print(mahasiswa)

('Kurnia', 'Nabillah', 'Ikhsan', 'Naufal', 'Vidya')